synapse-only01/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synapse-only01"
		},
		"Adlsdem1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Adlsdem1'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage2'"
		},
		"AzureBlobStorage4_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage4'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"synapse-only01-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synapse-only01-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:synapse-only01.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"Adlsdem1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saazurepractice077.dfs.core.windows.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pcserver728.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "HospitalDB"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sanket"
		},
		"synapse-only01-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saazurepractice077.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/parkpool1')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Source_to_Bronze')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata1_src_to_bronze",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Gen",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetMetadata1_src_to_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadata1_src_to_bronze').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get Metadata",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Gen",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Get Metadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT COALESCE(MAX(WatermarkDate), ''1900-01-01 00:00:00'') AS max_date \n   FROM Watermark_Table\n   WHERE LOWER(TRIM(SourceFile)) = LOWER(TRIM(''', item().name, '''))'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Lookup1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(\r\n    activity('Get Metadata').output.lastModified,\r\n     activity('Lookup1').output.firstRow.max_date\r\n    )\r\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data1_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"maxConcurrentConnections": 0,
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Gen",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "dm_insert_bronze",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "Stored procedure1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[UpdateWatermark]",
													"storedProcedureParameters": {
														"SourceFile": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"WatermarkDate": {
															"value": {
																"value": "@activity('Get Metadata').output.lastModified",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pl_Healthcare_project"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-01T08:54:46Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_Gen')]",
				"[concat(variables('workspaceId'), '/datasets/DS_SQL')]",
				"[concat(variables('workspaceId'), '/datasets/dm_insert_bronze')]",
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_Blob')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "incremental",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "department_id",
						"type": "String"
					},
					{
						"name": "department_name",
						"type": "String"
					},
					{
						"name": "department_head",
						"type": "String"
					},
					{
						"name": "floor_number",
						"type": "String"
					},
					{
						"name": "building",
						"type": "String"
					},
					{
						"name": "contact_number",
						"type": "String"
					},
					{
						"name": "opening_time",
						"type": "String"
					},
					{
						"name": "closing_time",
						"type": "String"
					},
					{
						"name": "active_flag",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_Gen')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adlsdem1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SRC",
						"fileSystem": "sourcedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Adlsdem1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_SQL')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceFile",
						"type": "nvarchar"
					},
					{
						"name": "WatermarkDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Watermark_Table"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dm_insert_bronze')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adlsdem1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze",
						"fileSystem": "sourcedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Adlsdem1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Adlsdem1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Adlsdem1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Adlsdem1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage4')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage4_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-only01-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synapse-only01-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-only01-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synapse-only01-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BronzeToSilver')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "parkpool1",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "02242fe3-55d1-4182-9033-2fb5c1a81633"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/56bc819a-1abb-420c-9a1d-69bf90a0ae99/resourceGroups/rg_azure_practice/providers/Microsoft.Synapse/workspaces/synapse-only01/bigDataPools/parkpool1",
						"name": "parkpool1",
						"type": "Spark",
						"endpoint": "https://synapse-only01.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/parkpool1",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.5",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							""
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 1: Imports & Spark Session\n",
							"from pyspark.sql import SparkSession\n",
							"from pyspark.sql.functions import col, to_timestamp, to_date, upper, trim, lit, current_timestamp\n",
							"\n",
							"# Optional: tune Spark shuffle partitions\n",
							"spark.conf.set(\"spark.sql.shuffle.partitions\", \"8\")"
						],
						"outputs": [],
						"execution_count": 32
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 2: Define Storage Paths\n",
							"storage_account = \"saazurepractice077\"\n",
							"bronze_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/bronze/\"\n",
							"silver_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Silver/\""
						],
						"outputs": [],
						"execution_count": 33
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 3: Read Bronze CSV Files\n",
							"def read_csv(path, file_name):\n",
							"    return spark.read.option(\"header\", True).option(\"inferSchema\", True).csv(f\"{path}/{file_name}\")\n",
							"\n",
							"df_patients = read_csv(bronze_path, \"patients.csv\")\n",
							"df_admissions = read_csv(bronze_path, \"admissions.csv\")\n",
							"df_diagnoses = read_csv(bronze_path, \"diagnoses_icd.csv\")\n",
							"df_icd = read_csv(bronze_path, \"d_icd_diagnoses.csv\")\n",
							"df_insurance = read_csv(bronze_path, \"insurance.csv\")\n",
							"df_doctors = read_csv(bronze_path, \"doctors.csv\")\n",
							"df_departments = read_csv(bronze_path, \"departments.csv\")\n",
							"\n",
							"print(\"All Bronze files loaded successfully!\")"
						],
						"outputs": [],
						"execution_count": 34
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 4: Data Validation\n",
							"# Validate required columns\n",
							"\n",
							"def validate_required_columns(df, required_columns, df_name):\n",
							"    missing = [c for c in required_columns if c not in df.columns]\n",
							"    print(f\"{df_name} missing columns: {missing if missing else 'None ✅'}\")\n",
							"\n",
							"validate_required_columns(df_patients, [\"subject_id\", \"gender\", \"anchor_age\", \"anchor_year\"], \"Patients\")\n",
							"validate_required_columns(df_admissions, [\"hadm_id\", \"subject_id\", \"admittime\", \"dischtime\"], \"Admissions\")\n",
							"validate_required_columns(df_diagnoses, [\"hadm_id\", \"icd_code\"], \"Diagnoses\")\n",
							"validate_required_columns(df_insurance, [\"age\", \"charges\"], \"Insurance\")\n",
							"validate_required_columns(df_doctors, [\"doctor_id\", \"doctor_name\", \"active_flag\"], \"Doctors\")\n",
							"validate_required_columns(df_departments, [\"department_id\", \"department_name\", \"active_flag\"], \"Departments\")\n",
							"\n",
							"# Null & Duplicate checks\n",
							"print(f\"Patients null subject_id: {df_patients.filter(col('subject_id').isNull()).count()}\")\n",
							"print(f\"Admissions null hadm_id: {df_admissions.filter(col('hadm_id').isNull()).count()}\")\n",
							"print(f\"Insurance negative charges: {df_insurance.filter(col('charges') < 0).count()}\")\n",
							"print(f\"Doctors invalid active_flag: {df_doctors.filter(~col('active_flag').isin(['Y','N'])).count()}\")\n",
							"print(f\"Departments invalid active_flag: {df_departments.filter(~col('active_flag').isin(['Y','N'])).count()}\")\n",
							"\n",
							"print(f\"Duplicate patients: {df_patients.count() - df_patients.dropDuplicates(['subject_id']).count()}\")\n",
							"print(f\"Duplicate admissions: {df_admissions.count() - df_admissions.dropDuplicates(['hadm_id']).count()}\")\n",
							"print(f\"Duplicate doctors: {df_doctors.count() - df_doctors.dropDuplicates(['doctor_id']).count()}\")\n",
							"print(f\"Duplicate departments: {df_departments.count() - df_departments.dropDuplicates(['department_id']).count()}\")\n",
							"\n",
							"print(\"✅ Validation complete!\")"
						],
						"outputs": [],
						"execution_count": 35
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 5: Clean & Transform Data\n",
							"# Patients\n",
							"df_patients_clean = (\n",
							"    df_patients\n",
							"    .withColumnRenamed(\"subject_id\", \"patient_id\")\n",
							"    .withColumn(\"gender\", upper(trim(col(\"gender\"))))\n",
							"    .withColumn(\"anchor_age\", col(\"anchor_age\").cast(\"int\"))\n",
							"    .withColumn(\"anchor_year\", col(\"anchor_year\").cast(\"int\"))\n",
							"    .dropDuplicates([\"patient_id\"])\n",
							"    .filter(col(\"patient_id\").isNotNull())\n",
							")\n",
							"\n",
							"# Admissions\n",
							"df_admissions_clean = (\n",
							"    df_admissions\n",
							"    .withColumnRenamed(\"hadm_id\", \"visit_id\")\n",
							"    .withColumn(\"admittime\", to_timestamp(col(\"admittime\")))\n",
							"    .withColumn(\"dischtime\", to_timestamp(col(\"dischtime\")))\n",
							"    .withColumn(\"visit_date\", to_date(col(\"admittime\")))\n",
							"    .dropDuplicates([\"visit_id\"])\n",
							"    .filter(col(\"visit_id\").isNotNull() & col(\"admittime\").isNotNull())\n",
							")\n",
							"\n",
							"# Insurance\n",
							"df_insurance_clean = (\n",
							"    df_insurance\n",
							"    .withColumnRenamed(\"charges\", \"total_amount\")\n",
							"    .withColumn(\"total_amount\", col(\"total_amount\").cast(\"double\"))\n",
							"    .withColumn(\"age\", col(\"age\").cast(\"int\"))\n",
							"    .withColumn(\"bmi\", col(\"bmi\").cast(\"double\"))\n",
							"    .filter(col(\"total_amount\") >= 0)\n",
							")\n",
							"\n",
							"# Doctors\n",
							"df_doctors_clean = (\n",
							"    df_doctors\n",
							"    .withColumn(\"doctor_name\", trim(col(\"doctor_name\")))\n",
							"    .withColumn(\"active_flag\", upper(trim(col(\"active_flag\"))))\n",
							"    .withColumn(\"experience_years\", col(\"experience_years\").cast(\"int\"))\n",
							"    .withColumn(\"joining_date\", to_date(col(\"joining_date\"), \"M/d/yyyy\"))\n",
							"    .dropDuplicates([\"doctor_id\"])\n",
							"    .filter(col(\"doctor_id\").isNotNull())\n",
							")\n",
							"\n",
							"# Departments\n",
							"df_departments_clean = (\n",
							"    df_departments\n",
							"    .withColumn(\"department_name\", trim(col(\"department_name\")))\n",
							"    .withColumn(\"active_flag\", upper(trim(col(\"active_flag\"))))\n",
							"    .dropDuplicates([\"department_id\"])\n",
							"    .filter(col(\"department_id\").isNotNull())\n",
							")\n",
							"\n",
							"print(\"✅ All datasets cleaned successfully!\")"
						],
						"outputs": [],
						"execution_count": 36
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"#Cell 6: Join Datasets for Silver Layer\n",
							"# Join admissions with patients\n",
							"df_visits = df_admissions_clean.join(\n",
							"    df_patients_clean,\n",
							"    df_admissions_clean[\"subject_id\"] == df_patients_clean[\"patient_id\"],\n",
							"    \"left\"\n",
							")\n",
							"\n",
							"# Primary diagnosis per visit\n",
							"df_primary_diagnosis = (\n",
							"    df_diagnoses\n",
							"    .filter(col(\"seq_num\") == 1)\n",
							"    .select(\"hadm_id\", \"icd_code\")\n",
							"    .withColumnRenamed(\"hadm_id\", \"hadm_id_diag\")\n",
							"    .withColumnRenamed(\"icd_code\", \"primary_icd_code\")\n",
							")\n",
							"\n",
							"df_visits = df_visits.join(\n",
							"    df_primary_diagnosis,\n",
							"    df_visits[\"visit_id\"] == df_primary_diagnosis[\"hadm_id_diag\"],\n",
							"    \"left\"\n",
							")\n",
							"\n",
							"# Join ICD descriptions\n",
							"df_visits = df_visits.join(\n",
							"    df_icd.select(\n",
							"        col(\"icd_code\").alias(\"icd_ref_code\"),\n",
							"        col(\"long_title\").alias(\"diagnosis_description\")\n",
							"    ),\n",
							"    df_visits[\"primary_icd_code\"] == col(\"icd_ref_code\"),\n",
							"    \"left\"\n",
							").drop(\"hadm_id_diag\", \"icd_ref_code\")\n",
							"\n",
							"# Diagnoses\n",
							"df_diagnoses_clean = (\n",
							"    df_diagnoses\n",
							"    .withColumn(\"icd_code\", trim(col(\"icd_code\")))\n",
							"    .withColumn(\"icd_version\", col(\"icd_version\").cast(\"int\"))\n",
							"    .dropDuplicates([\"subject_id\", \"hadm_id\", \"icd_code\"])\n",
							"    .filter(col(\"subject_id\").isNotNull())\n",
							")\n",
							"\n",
							"# ICD Descriptions\n",
							"df_icd_clean = (\n",
							"    df_icd\n",
							"    .withColumn(\"icd_code\", trim(col(\"icd_code\")))\n",
							"    .withColumn(\"long_title\", trim(col(\"long_title\")))\n",
							"    .dropDuplicates([\"icd_code\", \"icd_version\"])\n",
							")\n",
							"\n",
							"print(f\"Joined visits dataset: {df_visits.count()} rows\")"
						],
						"outputs": [],
						"execution_count": 37
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"df_visits.write.mode(\"overwrite\").parquet(f\"{silver_path}/visits/\")\n",
							"df_patients_clean.write.mode(\"overwrite\").parquet(f\"{silver_path}/patients/\")\n",
							"df_doctors_clean.write.mode(\"overwrite\").parquet(f\"{silver_path}/doctors/\")\n",
							"df_departments_clean.write.mode(\"overwrite\").parquet(f\"{silver_path}/departments/\")\n",
							"df_insurance_clean.write.mode(\"overwrite\").parquet(f\"{silver_path}/billing/\")\n",
							"df_diagnoses_clean.write.mode(\"overwrite\").parquet(f\"{silver_path}/diagnoses/\")\n",
							"\n",
							"print(\"✅ Silver layer saved successfully in PARQUET format!\")"
						],
						"outputs": [],
						"execution_count": 38
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SilverToGold')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "parkpool1",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "e31e3d10-c2b1-4579-bcac-61f758def756"
					}
				},
				"metadata": {
					"saveOutput": true,
					"synapse_widget": {
						"version": "0.1"
					},
					"enableDebugMode": false,
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/56bc819a-1abb-420c-9a1d-69bf90a0ae99/resourceGroups/rg_azure_practice/providers/Microsoft.Synapse/workspaces/synapse-only01/bigDataPools/parkpool1",
						"name": "parkpool1",
						"type": "Spark",
						"endpoint": "https://synapse-only01.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/parkpool1",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net",
							"authHeader": null
						},
						"sparkVersion": "3.5",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28,
						"extraHeader": null
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"from pyspark.sql.functions import monotonically_increasing_id, current_date, lit, year, month, dayofmonth, quarter, date_format, col, current_timestamp, max as spark_max\n",
							"from pyspark.sql.types import StructType, StructField, StringType, IntegerType, TimestampType\n",
							"\n",
							"# Define Silver and Gold storage paths\n",
							"silver_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Silver/\"\n",
							"gold_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Gold/\"\n",
							"\n",
							"\n",
							"df_silver_visits = spark.read.parquet(f\"{silver_path}/visits/\")\n",
							"df_silver_patients = spark.read.parquet(f\"{silver_path}/patients/\")\n",
							"df_silver_doctors = spark.read.parquet(f\"{silver_path}/doctors/\")\n",
							"df_silver_departments = spark.read.parquet(f\"{silver_path}/departments/\")\n",
							"df_silver_billing = spark.read.parquet(f\"{silver_path}/billing/\")\n",
							"\n",
							"print(\"✅ Silver tables loaded successfully!\")\n",
							"\n",
							""
						],
						"outputs": [],
						"execution_count": 17
					},
					{
						"cell_type": "code",
						"source": [
							"\n",
							"from pyspark.sql.functions import col, year, month, dayofmonth, row_number\n",
							"from pyspark.sql.window import Window\n",
							"\n",
							"# Define Silver and Gold storage paths\n",
							"silver_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Silver/\"\n",
							"gold_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Gold/\"\n",
							"\n",
							"final_df = spark.read.option(\"header\",True).csv(\"silver_path\")\n",
							"\n",
							"# ================================\n",
							"# Window for surrogate keys\n",
							"# ================================\n",
							"window_spec = Window.orderBy(\"subject_id\")\n",
							"\n",
							"# ================================\n",
							"# DIM PATIENT\n",
							"# ================================\n",
							"dim_patient = final_df.select(\n",
							"        col(\"subject_id\"),\n",
							"        col(\"gender\"),\n",
							"        col(\"anchor_age\")\n",
							"    ) \\\n",
							"    .dropDuplicates() \\\n",
							"    .withColumn(\"patient_key\", row_number().over(window_spec))\n",
							""
						],
						"outputs": [],
						"execution_count": 15
					},
					{
						"cell_type": "code",
						"source": [
							""
						],
						"outputs": []
					},
					{
						"cell_type": "code",
						"source": [
							"print(\"========== CREATING DIM_PATIENT ==========\")\n",
							"\n",
							"df_dim_patient = df_silver_patients \\\n",
							"    .select(\"patient_id\", \"gender\", \"anchor_age\", \"anchor_year\") \\\n",
							"    .withColumn(\"patient_sk\", monotonically_increasing_id()) \\\n",
							"    .withColumn(\"effective_from\", current_date()) \\\n",
							"    .withColumn(\"effective_to\", lit(None).cast(\"date\")) \\\n",
							"    .withColumn(\"is_current\", lit(\"Y\"))\n",
							"\n",
							"print(f\"Dim_Patient: {df_dim_patient.count()} rows\")\n",
							"df_dim_patient.write.mode(\"overwrite\").csv(f\"{gold_path}/dim_patient/\")"
						],
						"outputs": [],
						"execution_count": 20
					},
					{
						"cell_type": "code",
						"source": [
							"print(\"========== CREATING DIM_DOCTOR ==========\")\n",
							"\n",
							"df_dim_doctor = df_silver_doctors \\\n",
							"    .select(\"doctor_id\", \"doctor_name\", \"specialization\", \n",
							"            \"experience_years\", \"qualification\", \"joining_date\", \n",
							"            \"city\", \"active_flag\") \\\n",
							"    .withColumn(\"doctor_sk\", monotonically_increasing_id()) \\\n",
							"    .withColumn(\"effective_from\", current_date()) \\\n",
							"    .withColumn(\"effective_to\", lit(None).cast(\"date\")) \\\n",
							"    .withColumn(\"is_current\", lit(\"Y\"))\n",
							"\n",
							"print(f\"Dim_Doctor: {df_dim_doctor.count()} rows\")\n",
							"df_dim_doctor.write.mode(\"overwrite\").csv(f\"{gold_path}/dim_doctor/\")"
						],
						"outputs": [],
						"execution_count": 21
					},
					{
						"cell_type": "code",
						"source": [
							"print(\"========== CREATING DIM_DEPARTMENT ==========\")\n",
							"\n",
							"df_dim_department = df_silver_departments \\\n",
							"    .select(\"department_id\", \"department_name\", \"department_head\",\n",
							"            \"floor_number\", \"building\", \"active_flag\") \\\n",
							"    .withColumn(\"department_sk\", monotonically_increasing_id())\n",
							"\n",
							"print(f\"Dim_Department: {df_dim_department.count()} rows\")\n",
							"df_dim_department.write.mode(\"overwrite\").csv(f\"{gold_path}/dim_department/\")"
						],
						"outputs": [],
						"execution_count": 22
					},
					{
						"cell_type": "code",
						"source": [
							"print(\"========== CREATING DIM_DIAGNOSIS ==========\")\n",
							"\n",
							"\n",
							"df_dim_diagnosis = df_icd \\\n",
							"    .select(\n",
							"        col(\"icd_code\").alias(\"diagnosis_code\"),\n",
							"        col(\"long_title\").alias(\"diagnosis_description\")\n",
							"    ) \\\n",
							"    .filter(col(\"diagnosis_code\").isNotNull()) \\\n",
							"    .dropDuplicates([\"diagnosis_code\"]) \\\n",
							"    .withColumn(\"diagnosis_sk\", monotonically_increasing_id())\n",
							"    \n",
							"df_dim_diagnosis.write \\\n",
							"    .mode(\"overwrite\") \\\n",
							"    .format(\"csv\") \\\n",
							"    .save(f\"{gold_path}/dim_diagnosis/\")"
						],
						"outputs": [],
						"execution_count": 9
					},
					{
						"cell_type": "code",
						"source": [
							"print(\"========== CREATING DIM_DATE ==========\")\n",
							"\n",
							"df_dim_date = df_silver_visits \\\n",
							"    .select(col(\"visit_date\").alias(\"full_date\")) \\\n",
							"    .filter(col(\"full_date\").isNotNull()) \\\n",
							"    .dropDuplicates([\"full_date\"]) \\\n",
							"    .withColumn(\"date_sk\", monotonically_increasing_id()) \\\n",
							"    .withColumn(\"day\", dayofmonth(col(\"full_date\"))) \\\n",
							"    .withColumn(\"month\", month(col(\"full_date\"))) \\\n",
							"    .withColumn(\"quarter\", quarter(col(\"full_date\"))) \\\n",
							"    .withColumn(\"year\", year(col(\"full_date\")))\n",
							"\n",
							"print(f\"Dim_Date: {df_dim_date.count()} rows\")\n",
							"df_dim_date.write.mode(\"overwrite\").csv(f\"{gold_path}/dim_date/\")"
						],
						"outputs": [],
						"execution_count": 24
					},
					{
						"cell_type": "code",
						"source": [
							"# Cell 4 - Create Fact Table\n",
							"print(\"========== CREATING FACT_PATIENT_VISIT ==========\")\n",
							"\n",
							"\n",
							"\n",
							"\n",
							"gold_path = \"abfss://sourcedata@saazurepractice077.dfs.core.windows.net/Gold/\"\n",
							"\n",
							"df_dim_patient = spark.read.parquet(f\"{gold_path}/dim_patient/\")\n",
							"df_dim_date = spark.read.parquet(f\"{gold_path}/dim_date/\")\n",
							"df_dim_diagnosis = spark.read.parquet(f\"{gold_path}/dim_diagnosis/\")\n",
							"\n",
							"df_fact = df_silver_visits \\\n",
							"    .join(df_dim_patient.select(\"patient_id\", \"patient_sk\"), \"patient_id\", \"left\") \\\n",
							"    .join(df_dim_date.select(\"full_date\", \"date_sk\"), df_silver_visits[\"visit_date\"] == df_dim_date[\"full_date\"], \"left\") \\\n",
							"    .join(df_dim_diagnosis.select(\"diagnosis_code\", \"diagnosis_sk\"), df_silver_visits[\"primary_icd_code\"] == df_dim_diagnosis[\"diagnosis_code\"], \"left\")\n",
							"\n",
							"#Select final fact columns\n",
							"df_fact_final = df_fact.select(\n",
							"    col(\"visit_id\"),\n",
							"    col(\"patient_sk\"),\n",
							"    col(\"date_sk\"),\n",
							"    col(\"diagnosis_sk\"),\n",
							"    col(\"admission_type\"),\n",
							"    col(\"insurance\"),\n",
							"    col(\"admittime\"),\n",
							"    col(\"dischtime\"),\n",
							"    col(\"visit_date\"),\n",
							"    col(\"hospital_expire_flag\").cast(\"int\").alias(\"hospital_expire_flag\"),\n",
							"    lit(1).alias(\"visit_count\")\n",
							") \\\n",
							".withColumn(\"fact_sk\", monotonically_increasing_id()) \\\n",
							".dropDuplicates([\"visit_id\"])\n",
							"\n",
							"print(f\"Fact_Patient_Visit: {df_fact_final.count()} rows\")\n",
							"\n",
							"print(\"✅ Fact table created\")\n",
							"\n",
							"# ✅ Correct save\n",
							"df_fact_final.write.mode(\"overwrite\").csv(f\"{gold_path}/fact_patient_visit/\")\n",
							"print(\"\\n========== GOLD LAYER SUMMARY ==========\\n\")\n",
							"\n",
							"# Cell 5 - Gold Summary\n",
							"# Load Gold Tables\n",
							"df_patient      = spark.read.format(\"delta\").load(f\"{gold_path}/dim_patient\")\n",
							"df_doctor       = spark.read.format(\"delta\").load(f\"{gold_path}/dim_doctor\")\n",
							"df_department   = spark.read.format(\"delta\").load(f\"{gold_path}/dim_department\")\n",
							"df_diagnosis    = spark.read.format(\"delta\").load(f\"{gold_path}/dim_diagnosis\")\n",
							"df_date         = spark.read.format(\"delta\").load(f\"{gold_path}/dim_date\")\n",
							"df_fact         = spark.read.format(\"delta\").load(f\"{gold_path}/fact_patient_visit\")\n",
							"\n",
							"# Counts\n",
							"patient_count    = df_patient.count()\n",
							"doctor_count     = df_doctor.count()\n",
							"department_count = df_department.count()\n",
							"diagnosis_count  = df_diagnosis.count()\n",
							"date_count       = df_date.count()\n",
							"fact_count       = df_fact.count()\n",
							"\n",
							"# Print Summary\n",
							"print(f\"Dim_Patient:         {patient_count} rows\")\n",
							"print(f\"Dim_Doctor:          {doctor_count} rows\")\n",
							"print(f\"Dim_Department:      {department_count} rows\")\n",
							"print(f\"Dim_Diagnosis:       {diagnosis_count} rows\")\n",
							"print(f\"Dim_Date:            {date_count} rows\")\n",
							"print(f\"Fact_Patient_Visit:  {fact_count} rows\")\n",
							"\n",
							"print(\"⭐ Star Schema Complete!\")"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "code",
						"source": [
							"#Cell 6 - Audit Table\n",
							"print(\"========== CREATING PIPELINE AUDIT TABLE ==========\")\n",
							"\n",
							"# ✅ Read fact table from Gold (Fix)\n",
							"df_fact_final = spark.read.csv(f\"{gold_path}/fact_patient_visit/\")\n",
							"\n",
							"audit_data = [(\n",
							"    str(spark.sql(\"SELECT current_timestamp()\").collect()[0][0]),\n",
							"    df_silver_patients.count(),\n",
							"    df_silver_visits.count(),\n",
							"    df_fact_final.count(),   # ✅ Now works\n",
							"    275,\n",
							"    0,\n",
							"    0\n",
							")]\n",
							"\n",
							"audit_schema = StructType([\n",
							"    StructField(\"run_date\", StringType(), True),\n",
							"    StructField(\"bronze_count\", IntegerType(), True),\n",
							"    StructField(\"silver_count\", IntegerType(), True),\n",
							"    StructField(\"gold_count\", IntegerType(), True),\n",
							"    StructField(\"inserted_records\", IntegerType(), True),\n",
							"    StructField(\"updated_records\", IntegerType(), True),\n",
							"    StructField(\"expired_records\", IntegerType(), True)\n",
							"])\n",
							"\n",
							"df_audit = spark.createDataFrame(audit_data, audit_schema)\n",
							"df_audit.write.mode(\"append\").parquet(f\"{gold_path}/pipeline_audit/\")\n",
							"\n",
							"print(\"Audit table saved! ✅\")\n",
							"df_audit.show()"
						],
						"outputs": [],
						"execution_count": 32
					},
					{
						"cell_type": "code",
						"source": [
							"# Cell 7 - Watermark Table\n",
							"\n",
							"print(\"========== CREATING WATERMARK ==========\")\n",
							"\n",
							"max_date = df_silver_visits \\\n",
							"    .filter(col(\"visit_date\").isNotNull()) \\\n",
							"    .agg(max(\"visit_date\").alias(\"last_processed_date\")) \\\n",
							"    .collect()[0][0]\n",
							"\n",
							"watermark_df = spark.createDataFrame([(\n",
							"    \"visits\",\n",
							"    str(max_date),\n",
							"    str(current_timestamp())\n",
							")], [\n",
							"    \"table_name\",\n",
							"    \"last_processed_date\",\n",
							"    \"updated_at\"\n",
							"])\n",
							"\n",
							"watermark_df.write.mode(\"overwrite\").parquet(f\"{gold_path}/pipeline_watermark/\")\n",
							"\n",
							"watermark_df.show()\n",
							"\n",
							"print(\"✅ Watermark created\")"
						],
						"outputs": []
					},
					{
						"cell_type": "code",
						"source": [
							""
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/parkpool1')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 5
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.5",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "centralindia"
		}
	]
}